.text-decorator-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 157, 9);
    padding: 3px;
    border-radius: 3px;
   
   
    
}