.box1{
    background-color: #3f9ab5;
    height: 120px;
}

.box2{
    background-color: #307e9f;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: rgb(243, 235, 10);
}